module.exports = {
  port: 8080,
  mysql: {
    host: %EXT_IP%,
    user: 'hk4e_work',
    password: '%HK4E_WORK_PASSWORD%',
    database: 'db_hk4e_accounts'
  },
  region: [
    {
      name: '%DEFAULT_REGION%',
      title: 'Development',
      type: 'DEV_PUBLIC',
      dispatchUrl: 'http://%EXT_IP%:10105/query_cur_region',
    },
  ],
}
